html {
	font-family: 'kiddy_kitty', sans-serif;
	color: #fff;
}

.section-cont {
	position: relative;
	max-width: 1139rem / @htmlFontSize;
	margin: 0 auto;
}

.top {
	.box-sizing;
	width: 100%;
	height: 700rem / @htmlFontSize;
	margin: -94rem / @htmlFontSize auto 0;
	padding: 94rem / @htmlFontSize 0 0;

	background: url(../img/top-bg.png) no-repeat center 0 e('/') 100% 100% #FFB35F;

	.family-form {
		.box-sizing;
		width: 980rem / @htmlFontSize;
		height: 22rem;
		margin: 0 auto;
		padding: 0 22rem / @htmlFontSize;
		border: 2px solid #fff;
		border-radius: 16px;
		box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4) inset, 0 2px 2px -1px rgba(0, 0, 0, 0.4);

		.form-head {
			text-align: center;

			h2 {
				margin: .7rem 0 .2rem;
				font-size: 30em / @htmlFontSize;
				line-height: 32em / @htmlFontSize;

				text-shadow: 2px 2px #0d4c7f;
			}
		}

		.form-desc {
			font-size: 18rem / @htmlFontSize;
			line-height: 26rem / @htmlFontSize;
		}

		.family-form-part {
			display: inline-block;
			width: 33%;
			vertical-align: top;

			input {
				width: 104rem / @htmlFontSize;
				background: none;
				border: none;
				outline: none;
				border-bottom: 1px dotted #fff;
			}
		}

		.date-part {
			label {
				position: relative;
			}

			.cal-icon {
				position: absolute;
				top: -15%;
				left: 104%;
				font-size: 1.5em;
			}
		}

		fieldset {
			margin: 1.7rem 0 0;
		}
	}

	.to-bot {
		margin: 1.7rem 0 0 0;
		font-size: 14em / @htmlFontSize;
		text-align: center;

		.button {
			.transition;
			display: inline-block;
			width: 2.6rem;
			height: 2.55rem;
			line-height: 2.6rem;		
			border: 2px solid #fff;
			border-radius: 50%;
			background: none;
			outline: none;
			cursor: pointer;

			font-size: 17em / @htmlFontSize;
			color: #fff;

			&:hover {
				background: #fff;
				color: #0d4c7f;
			}
		}
	}

	.city-select {
		background: rgba(255, 255, 255, .25);
		border: 0 none;
		height: 30rem / @htmlFontSize;
		font-family: arial, sans-serif;
		//width: 100%;
	}

	.family-item {
		position: relative;
		display: inline-block;
		opacity: .5;
		.transition;

		&:hover, &.active {
			opacity: 1;
		}

		&:hover {
			z-index: 3;
		}
	}

	.family-item[data-person=father] {
		position: relative;
		width: 25rem / @htmlFontSize;
		height: 64rem / @htmlFontSize;
		.pers-img {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			background: url(../img/father.png) no-repeat 0 0 e('/') 100% 100%;
		}
	}

	.family-item[data-person=mother] {
		position: relative;
		width: 28rem / @htmlFontSize;
		height: 59rem / @htmlFontSize;
		.pers-img {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			background: url(../img/mother.png) no-repeat 0 0 e('/') 100% 100%;
		}
	}

	.family-item[data-person=girl] {
		position: relative;
		width: 17rem / @htmlFontSize;
		height: 40rem / @htmlFontSize;

		.pers-img {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			background: url(../img/girl.png) no-repeat 0 0 e('/') 100% 100%;
		}

		&.active {
			.age {
				opacity: 1;
			}
			margin: 0 5rem / @htmlFontSize;
		} 
	}

	.family-item[data-person=boy] {
		position: relative;
		width: 17rem / @htmlFontSize;
		height: 47rem / @htmlFontSize;

		.pers-img {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			background: url(../img/boy.png) no-repeat 0 0 e('/') 100% 100%;
		}

		&.active {
			.age {
				opacity: 1;
			}
			margin: 0 5rem / @htmlFontSize;
		} 
	}

	.family-arrow {
		.transition(opacity);
		display: inline-block;
		width: 18rem / @htmlFontSize;
		height: 80%;
		background: url(../img/family-arrow.png) no-repeat center center e('/') 100% 16rem / @htmlFontSize;
		margin: 0 7rem / @htmlFontSize;
		opacity: 0;

		&.active {
			opacity: 1;
		}
	}

	.family {
		display: inline-block;
		height: 70rem / @htmlFontSize;
		margin-top: 5rem / @htmlFontSize;

		.family-before, .family-after {
			display: inline-block;
		}

		.person {
			.family-hint;
			top: 20%;
			width: 70rem / @htmlFontSize;
			display: none;
			z-index: 2;
		}

		.age {
			.transition(all, .05s, ease);
			.box-sizing;
			position: absolute;
			bottom: -30rem / @htmlFontSize;
			left: 50%;
			margin-left: -12.5rem / @htmlFontSize;
			width: 25rem / @htmlFontSize;
			height: 25rem / @htmlFontSize;
			border-radius: 5rem / @htmlFontSize;
			line-height: 25rem / @htmlFontSize;
			text-align: center;
			color: #000;
			font-size: 14rem / @htmlFontSize;
			background: rgba(255, 255, 255, .5);
			opacity: 0;
			border-top: 2px solid transparent;
			border-left: 2px solid transparent;
			cursor: pointer;

			input {
				position: relative;
				height: 100%;
				line-height: 25rem / @htmlFontSize;
				width: 90%;
				border: 0 none;
				text-align: center;
				cursor: pointer;
			}
			label {
				position: absolute;
				top: 0; left: 0; right: 0; bottom: 0;
				cursor: pointer;
			}

			.fill-age {
				.family-hint;
				display: none;
			}

			&:active {
				background: #fff;
				border-top: 2px solid #b8b8b8;
				border-left: 2px solid #b8b8b8;
			}
			&.active {
				background: #fff;
				border-top: 2px solid #b8b8b8;
				border-left: 2px solid #b8b8b8;
			}
		}
	}
}

.mid {
	.box-sizing;
	position: relative;
	width: 100%;
	height: 12rem;
	margin: 0 auto;
	padding: 1rem 0 0 5.1rem;
	background: #FFB35F;

	.mid-cont {
		margin: -2rem 0 0;

		.show-all-tastes {
			.transition;
			display: inline-block;
			font-size: 25.5rem / @htmlFontSize;
			color: inherit;
			line-height: .75;
			border-bottom: 1px solid;
			text-decoration: none;
			outline: none;

			&:hover {
				border-color: transparent;
			}
		}

		p {
			margin: 0.6em 0 0.7em;
			font-size: 18em / @htmlFontSize;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.section-cont:before {
		content: '';
		position: absolute;
		top: 6.4rem;
		left: 4rem;

		width: 460rem / @htmlFontSize;
		height: 365rem / @htmlFontSize;
		background: url(../img/icecream.png) no-repeat;
	}
	.section-cont:after {
		content: '';
		
		content: '';
		position: absolute;
		top: -6.5rem;
		right: 3.8rem;

		width: 400rem / @htmlFontSize;
		height: 454rem / @htmlFontSize;
		background: url(../img/snowman.png) no-repeat;
	}
}