.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: #126db6;
	background: rgba(18,109,182, .8);
	z-index: 99;

	&.not-fixed {
		position: absolute;
	}
}

.popup {
	position: absolute;
	top: 184rem / @htmlFontSize;
	left: 50%;
	background: #fff;

	border-radius: 12rem / @htmlFontSize;

	h3 {
		color: #0d81c4;
	    font-size: 2.5em;
	    line-height: 1;
	    margin: 0 0 1.75rem;
	    padding: 3.8rem 0 0;
	    text-align: center;
	}

	.popup-desc {
		color: #666;
		font-size: 18em / @htmlFontSize;
		text-align: center;
	}

	&.advice {
		.column.left {
			width: 100%;
		    -webkit-columns: 2;
		    -moz-columns: 2;
		    columns: 2;
		}
		.column {
			margin-top: 0;
		}
	}
}

.feedback {
	top: 5%;
	width: 744rem / @htmlFontSize;
	margin: 0 0 0 -744rem / @htmlFontSize / 2;

	h3 {	
		padding: 1.8rem 0 0;
	}
}

.auth {
	width: 603rem / @htmlFontSize;
	height: 363rem / @htmlFontSize;
	margin: 0 0 0 -603rem / @htmlFontSize / 2;
}

.rec {
	top: 5%;
	.box-sizing;
	width: 980rem / @htmlFontSize;
	margin: 0 0 0 -980rem / @htmlFontSize / 2;

	.rec-cont {
		padding: 0 38rem / @htmlFontSize;
	}

	&.advice {
		.column {
			.send-email {
				margin: 0 0 1.625rem;
			}
		}
		.send-email-form {
			top: -70%;
		}
	}
	
	.send-email-cont {
		position: relative;
		display: inline-block;
	}

	.send-email-form {
		display: none;
		.box-sizing;
		position: absolute;
		top: -20%;
		left: 115%;
		width: 383rem / @htmlFontSize;
		height: 82rem / @htmlFontSize;
		padding: 20rem / @htmlFontSize 10rem / @htmlFontSize 20rem / @htmlFontSize 18rem / @htmlFontSize;
		border: 1px solid #ccc;
		border-radius: 6rem / @htmlFontSize;
		background: #fff;
		box-shadow: 3px 3px 0 0 rgba(102, 102, 102, .5);

		.success {
			color: #666;
		}

		&:before {
			content: "";
			position: absolute;
			top: 29px;
			right: 100%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12px 12px 12px 0;
			border-color: transparent #ccc transparent transparent;
		}

		&:after {
			content: "";
			position: absolute;
			top: 30px;
			right: 100%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 11px 11px 11px 0;
			border-color: transparent #fff transparent transparent;
		}

		input {
			.box-sizing;
			display: inline-block;
			width: 275rem / @htmlFontSize;
			height: 2.5rem;
			margin: 0 13rem / @htmlFontSize 0 0;
			padding: 0 14rem / @htmlFontSize;
			border: 1px solid #ccc;
			border-radius: 2rem;
			outline: none;
			font-family: 'proxima_nova', sans-serif;
		}

		button {
			.transition;
			width: 53rem / @htmlFontSize;
			height: 2.4rem;
			padding: 0;
			display: inline-block;
			border: none;
			border-radius: 2rem;
			text-transform: capitalize;
			font-weight: normal;
			font-family: 'proxima_nova', sans-serif;
			background: #0d81c4;
			color: #fff;

			&:hover {
				opacity: .85;
			}
		}
	}

	footer {
		height: 100rem / @htmlFontSize;
		margin: 26rem / @htmlFontSize 0 0;
		background: url(../img/footer-light-bg.png) repeat-x 0 0 #FFB35F;
		text-align: center;
		line-height: 100rem / @htmlFontSize;
		border-radius: 0 0 .75rem .75rem; 

		a {
			.transition;
			display: inline-block;
			color: #0c7fc4;
			border-bottom: 1px solid #0c7fc4;
			text-decoration: none;
			outline: none;
			line-height: 16em / @htmlFontSize;

			&:hover {
				border-color: transparent;
			}
		}

		.img-link {
			text-decoration: none;
			border: none;

			img {
				.transition;
				height: 3.1rem;
    			margin: 0 1rem;
			}
		}
	}

	.column {
		display: inline-block;
		width: 27rem;
		margin: 27rem / @htmlFontSize 0 0;
		vertical-align: top;

		.rec-desc-cont {
			min-height: 18.35rem;
		}

		&.left {
			margin: 27rem / @htmlFontSize 31rem / @htmlFontSize 0 0;
		}

		.pict {
			width: 100%;
			height: 300rem / @htmlFontSize;

			background: no-repeat 0 0 e('/') cover;
		}

		p {
			margin: 0 0 18rem / @htmlFontSize;
			color: #333;
			font-size: 14em / @htmlFontSize;
			line-height: 18.2em / 14;
			font-family: 'proxima_nova', sans-serif;
		}
		.likes-ul {
			.list-unstyled;
			margin: 27rem / @htmlFontSize 0 30rem / @htmlFontSize -3rem / @htmlFontSize;

			.likes-li {
				display: inline-block;
				margin: 0 12rem / @htmlFontSize 0 0;
				vertical-align: top;
			}
		}
		.people-count {
			display: inline-block;
			margin: 0 0 0 6rem / @htmlFontSize; 
			color: #666;
			font-size: 12px;
			font-family: 'proxima_nova', sans-serif;

			strong {
				font-size: 14px;
				color: #333;
			}
		}
		.send-email {
			.transition;
			margin: 26rem / @htmlFontSize 0 0;
			display: inline-block;

			line-height: 1;
			font-size: 14px;
			font-family: 'proxima_nova', sans-serif;
			border-bottom: 1px dotted;
			color: #0c80c4;
			text-decoration: none;
			outline: none;

			&:hover {
				border-color: transparent;
			}
		}
	}
}

.auth-ul {
	.list-unstyled;
	margin: 1.5rem 0 0;
	text-align: center;

	.auth-li {
		display: inline-block;	

		.odnokl {
			background: #ff9900;

			&:hover {
				background: lighten(#ff9900, 10%)
			}
		}

		.vk {
			background: #0f63a5;

			&:hover {
				background: lighten(#0f63a5, 10%)
			}
		}

		.fb {
			background: #38519f;

			&:hover {
				background: lighten(#38519f, 10%)
			}
		}

		a {
			.transition;
			display: inline-block;
			width: 5.5rem;
			height: 5.6rem;
			margin: 0 0.9rem 0 0;
			border-radius: 50%;

			font-size: 3.2rem;
			line-height: 5.6rem;
			text-decoration: inherit;
			text-decoration: none;
			color: #fff;
		}
	}
}

.feedback-form {
	margin: 2.8rem 0 0 0;
	padding: 0 3.825rem 4.125rem;

	section {
		margin: 0 0 23rem / @htmlFontSize;

		&.with-textarea {
			margin: 1.8rem 0 0;

			label {
				margin: .5rem 0 0;
			}
		}
	}

	.inp-error {
		margin-left: 12rem;
		display: none;

		span {
			display: inline-block;
			font-family: sans-serif;
			font-size: 14rem / @htmlFontSize;
			height: 25rem / @htmlFontSize;
			line-height: 25rem / @htmlFontSize;
			background: rgb(239, 60, 95);
			padding: 0 10rem / @htmlFontSize;
		}
	}

	.error {

		input {
			border-color: rgb(239, 60, 95);
		}

		.inp-error {
			display: block;
		}
	}

	label {
		.box-sizing;
		display: inline-block;
		width: 12rem;

		color: #333;
	}

	input {
		.box-sizing;
		display: inline-block;
		width: 26.55rem;
		height: 38rem / @htmlFontSize;
		padding: 0 .8rem;
		border: 1px solid #ccc;
		box-shadow: none;
		border-radius: 2rem / @htmlFontSize;
		outline: none;

		font-family: 'proxima_nova', sans-serif;
	}

	textarea {
		.box-sizing;
		display: inline-block;
		width: 26.55rem;
		height: 150rem / @htmlFontSize;
		padding: .4rem .8rem;
		border: 1px solid #ccc;
		box-shadow: none;
		border-radius: 2rem / @htmlFontSize;
		outline: none;
		resize: none;

		font-family: 'proxima_nova', sans-serif;
	}

	button {
		.transition;
		.box-sizing;
		display: block;
		width: 12.6rem;
		height: 2.8rem;
		margin: 2.2rem auto 0;

		background: #0d81c4;
		border: none;
		outline: none;
		color: #fff;
		font-family: 'kiddy_kitty';
		
		font-size: 18em / @htmlFontSize;
		padding: 1rem / @htmlFontSize 0 0;
		border-radius: 23rem / @htmlFontSize;

		&:hover {
			background: lighten(#0d81c4, 10%)
		}
	}
}

.popup-close {
	.transition;
	position: absolute;
	right: 25rem / @htmlFontSize;
	top: 6rem / @htmlFontSize;
	font-size: 43em / @htmlFontSize;
	color: #f1f1f1;
	cursor: pointer;

	&:hover {
		color: #aaa;
	}
}